<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/stylesheets/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type='text/javascript'>

			$(document).ready(function(){
				var socket = io.connect();
				$('.info').hide();
				$('button').click(function(){
					var name = $('#name').val();
					var location = $('#location').val();
					var language = $('#language').val();
					var comment = $('#comment').val();

					socket.emit('posting_form', {name: name, location: location, language: language, comment: comment});
					console.log('form submitted by client');
				})
				socket.on('updated_message', function(data){
					function getRandomInt(min, max) {
					  return Math.floor(Math.random() * (max - min)) + min;
					}
					var rand = getRandomInt(0,1000);
					console.log('here we get our data', data);
					$('.info').show();
					$('.info').append('<p>You emitted the following data: '+'<br>'+'Name: '+data.name+'<br>'+'Location: '+data.location+'<br>'+'Language: '+data.language+'<br>'+'Comment: '+data.comment+'</p><br>');
					$('.info p').append('Your lucky number is: '+ rand);
				})
			})
		</script>
	</head>
	<body>
		<div class="info"></div>
		<div class="container">
			<h4>Your name:</h4><input type="text" id='name'>
			<h4>Dojo location:</h4><select id='location'><option value="Mountain View">Mountain View</option><option value="Los Angeles">Los Angeles</option><option value="Seattle">Seattle</option></select>
			<h4>Favorite language:</h4><select id='language'><option value="Ruby">Ruby</option><option value="Java">Java</option><option value="Python">Python</option></select>
			<h4>Comment</h4>
			<textarea id='comment'></textarea>
			<button>Submit</button>
		</div>
	</body>
</html>